<!doctype html>
      <html class="no-js" lang="es">
        <head>
          <meta charset="utf-8" />
          <meta http-equiv="x-ua-compatible" content="ie=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>Tutorias TECNM</title>
          <link rel="stylesheet" href="../public/css/foundation.css" />
          <link rel="stylesheet" href="../public/css/src/tutorias.css" />
        </head>
        <body>
        <div class="top-bar">
            <div class="top-bar-left">
              <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text"><a href="index.html">Tutorias TECNM</a></li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="dropdown menu" data-dropdown-menu>
                  <li>
                  <a href="#">Usuario1</a>
                  <ul class="menu">
                  <li>
                  <a href="#">Perfil</a>
                  </li>
                  <li>
                  <a href="#">Panel</a>
                  </li>
                  <li>
                  <a href="#">Anexos</a>
                  </li>
                  <li>
                  <a href="#">Ayuda</a>
                  </li>                                                      
                  <li>
                  <a href="#">Cerrar Sesión</a>
                  </li>
                </ul>
                </li>
              </ul>
            </div>
        </div>
      
          <script src="../public/js/vendor/jquery.min.js"></script>
          <script src="../public/js/vendor/what-input.min.js"></script>
          <script src="../public/js/foundation.min.js"></script>
          <script>
            $(document).foundation();
          </script>
      
        </body>
      </html>