<!doctype html>
      <html class="no-js" lang="es">
        <head>
          <meta charset="utf-8" />
          <meta http-equiv="x-ua-compatible" content="ie=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>Tutorias TECNM</title>
          <link rel="stylesheet" href="../public/css/foundation.css" />
          <link rel="stylesheet" href="../public/css/src/tutorias.css" />
        </head>
        <body>
        <div class="top-bar">
            <div class="top-bar-left">
              <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text"><a href="index.html">Tutorias TECNM</a></li>
              </ul>
            </div>
        </div>
          <section>
            <div class="row">
              <div class="small-12 medium-6 medium-centered large-4 columns text-center padding-top">
                <form>
                <h1>Registro</h1>
                <p>
                  Por favor, selecciona tu Instituto Tecnológico de proveniencia e introduce tu número de control y contraseña.
                </p>
                  <div class="row">
                    <div class="small-12 columns">
                    <select>
                      <option value="1">Instituto Tecnológico de Tehuacán</option>
                      <option value="2">Instituto Tecnológico de Tecamachalco</option>
                      <option value="3">Instituto Tecnológico de Texmelucan</option>
                    </select>
                    <input type="text" required placeholder="Número de Control"></input>
                    <input type="password" required placeholder="Contraseña"></input>
                    <input type="email" required placeholder="Correo Electrónico"></input>
                    </div>
                    <div class="small-12 columns">
                    <button class="button expanded">Registrar</button>  
                    <p><a href="login.html">Si ya tienes usuario y contraseña, inicia sesión aquí</a></p>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </section>    
      
          <script src="../public/js/vendor/jquery.min.js"></script>
          <script src="../public/js/vendor/what-input.min.js"></script>
          <script src="../public/js/foundation.min.js"></script>
          <script>
            $(document).foundation();
          </script>
      
        </body>
      </html>